<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ code }} Error - RPi Management Center</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.png">
    </head>

    <body class="error-page">
        <h1>{{ code }} {{ name }}</h1>
        <p>{{ description }}</p>
        <a href="{{ url_for('home') }}"><button>Go Back Home</button></a>
    </body>
</html>